:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    padding: 0;
    margin: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.section {
    padding: 1rem;
    font-size: 16px;
}

.join-us-section h2{
    color: var(--cyan);
}

.yellow {
    color: var(--bright-yellow);
    font-weight: bold;
}

p {
    line-height: 2rem;
    color: var(--light-gray)
}

.subscribe-section {
    background: var(--cyan);
}

.about-section {
    background: var(--cyan);
}

.subscribe-section h2, .about-section h2 {
    color: var(--light-gray)
}

input {
    background-color: var(--bright-yellow);
    color: white;
    padding: 1rem 5rem;
    border-radius: .5rem;
    border: none;
}